<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahulmali.JuiceBar">


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Juice Bar &amp; Cafe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rahulmali.JuiceBar.DashboardActivity"></activity>
        <activity android:name="com.rahulmali.JuiceBar.ForgotPasswordActivity" />
        <activity android:name="com.rahulmali.JuiceBar.RegisterActivity" />
        <activity android:name="com.rahulmali.JuiceBar.LoginActivity" />
        <activity android:name="com.rahulmali.JuiceBar.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>